* {
	transition:0.4s;
	box-sizing:border-box;
}
span {
	font-size:0.8rem;
	display:flex;
	justify-content:center;
	align-items:center;
	height:2rem;
	flex-direction:column;
}

span.header {
	font-weight:700;
	font-size:0.8rem;
	flex-direction:column;
}

.wrapper {
	border:2px solid #000;		
}

h1.country {
	width:100%;
	font-size:1rem;
	border-top:2px;
	border-left:2px;
	border-right:2px;
	border-bottom:0;
	border-style:solid;
	border-color:#333;
	margin-bottom:0;
	padding:1rem;
}


body {
	margin:0;
	padding:0;
	background:#eee;
}

ul {
	list-style:none;
	margin:0;
	padding:0rem;
	background:#eee;
	display:flex;
	flex-wrap:wrap;
	border-top:0px;
	border-left:2px;
	border-right:2px;
	border-bottom:2px;
	border-style:solid;
	border-color:#333;
}

ul li {
	background:#fff;
	margin:0rem;
	padding:1rem;
	font-size:0.9rem;
	width:50%;
	display:flex;
	flex-wrap:wrap;
}

ul li ul {
	background:#fff;
	display:flex;
	width:100%;
}

ul li ul li {
	background:#fff;
	margin:0;
	padding:0.5rem;
	width:100%;
}